.box{
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-direction: column; 
    gap: 20px;
}
li {
    list-style-type: none;
    padding-left: 0;
  
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}